@{
    ViewBag.Title = "List of students";
}

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Full Time</th>
            <th>GPA</th>
            <th>Student ID</th>
        </tr>
    </thead>
    @foreach (var a in Model)
    {
        <tr>
            <td>
                @switch (a.CourseCode)
                {
                    case "COMP229":
                        @:Web application development
                        break;
                    case "COMP100":
                        @:Programming 1
                        break;
                    case "COMP123":
                        @:Programming 2
                        break;
                    default:
                        @:Other Course
                        break;
                }
            </td>
            <td>@a.Email</td>
            <td>@a.FirstName</td>
            <td>@a.FullTime</td>
            <td>
                @if (a.Gpa>=2)
                {
                    @:Great GPA!
                }
                else
                {
                    @:Keep Working on your GPA!
                }
            </td>
            <td>@a.StudentId</td>
        </tr>
    }
</table>
